* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
  }
  
  .men-products .products-1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    padding: 10px;
    width: 70%;
    float: right;
    margin-right: 70px;
    margin-top: -220px;
  }
  .men-products .products-1 div {
    border: 1px solid lightgray;
    width: 90%;
    height: 430px;
    border-radius: 10px;
  }
  .men-products .products-1 img {
    width: 100%;
    height: 200px;
    padding-top: 15px;
  }
  .men-products .products-1 .item-1 {
    grid-column-start: 0;
    grid-column-end: 0;
  
    grid-row-start: 1;
    grid-row-end: 1;
  }
  /* T-shirt name */
  .men-products .products-1 p {
    font-size: 14px;
    font-weight: 500;
    padding: 15px 10px 15px 13px;
    color: gray;
  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /* Amounts */
  .men-products .products-1 h1 {
    padding-left: 13px;
  }
  .men-products .products-1 #onwards {
    font-size: 11.5px;
    font-weight: bold;
    padding-left: 8px;
    color: gray;
  }
  .men-products .products-1 h6 {
    padding: 10px 10px 10px 13px;
    background-color: rgba(245, 245, 245, 0.689);
    width: 75px;
    border-radius: 15px;
    color: rgba(128, 128, 128, 0.813);
    margin: 10px 0 15px 13px;
  }
  .men-products .products-1 .rating {
    font-size: 13px;
    font-weight: 500;
    padding: 6px 8px 6px 8px;
    background: rgb(35, 187, 117);
    fill: rgb(255, 255, 255);
    border-radius: 20px;
    color: white;
    margin: 0px 0px 0px 13px;
  }
  /* .men-products .products-1 .rating i {
    font-size: 13px;
  } */
  .men-products .products-1 #review {
    font-size: 11px;
    font-weight: bold;
    /* padding: 10px 10px 10px 13px; */
  }
  